@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: gray;
  color: #eee;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: orangered;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('./images/preview16.jpg');
  min-height: 100%;
}

/* First image (Logo. Full height) */
.bgimg-2 {
  background-image: url('./images/1_software-developer.jpg');
  min-height: 100%;
}

/* First image (Logo. Full height) */
.bgimg-3 {
  background-image: url('./images/Data-Center-Outlook-768x550-1-300x215.png');
  min-height: 100%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}