/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.main-title {
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navegación */
.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #dddddd79;
  color: black;
}

.topnav a.active {
  background-color: #9cd8f975;
  color: white;
}

/* Responsive para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .main-title {
    font-size: 2.5em;
  }
}
